@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  display: flex;
  align-items: center;
  justify-content: center;
}
body {
  max-width: 1500px;
}
main {
  background-color: #ffffff;
  min-height: 100vh;
}
